<h1>Edit gift_card</h1>

<form id="edit-gift_card" name="gift_card">
  <div class="field">
    <label for="value"> value:</label>
    <input type="text" name="value" id="value" value="<%= value %>" >
  </div>

  <div class="field">
    <label for="user_id"> user_id:</label>
    <input type="text" name="user_id" id="user_id" value="<%= user_id %>" >
  </div>

  <div class="field">
    <label for="number,"> number,:</label>
    <input type="text" name="number," id="number," value="<%= number, %>" >
  </div>

  <div class="field">
    <label for="code"> code:</label>
    <input type="text" name="code" id="code" value="<%= code %>" >
  </div>

  <div class="field">
    <label for="string,"> string,:</label>
    <input type="text" name="string," id="string," value="<%= string, %>" >
  </div>

  <div class="field">
    <label for="state"> state:</label>
    <input type="text" name="state" id="state" value="<%= state %>" >
  </div>

  <div class="field">
    <label for="string,"> string,:</label>
    <input type="text" name="string," id="string," value="<%= string, %>" >
  </div>

  <div class="field">
    <label for="company_id"> company_id:</label>
    <input type="text" name="company_id" id="company_id" value="<%= company_id %>" >
  </div>

  <div class="field">
    <label for="number,"> number,:</label>
    <input type="text" name="number," id="number," value="<%= number, %>" >
  </div>

  <div class="field">
    <label for="expiration_days"> expiration_days:</label>
    <input type="text" name="expiration_days" id="expiration_days" value="<%= expiration_days %>" >
  </div>

  <div class="field">
    <label for="number"> number:</label>
    <input type="text" name="number" id="number" value="<%= number %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Gift card" />
  </div>

</form>

<a href="#/index">Back</a>
