<td><%= value %></td>
<td><%= user_id %></td>
<td><%= code %></td>
<td><%= state %></td>
<td><%= company_id %></td>
<td><%= expiration_days %></td>

<td><a href="#/<%= id %>">Show</a></td>
<td><a href="#/<%= id %>/edit">Edit</a></td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>
