<p>
  <b>Value:</b>
  <%= value %>
</p>

<p>
  <b>User:</b>
  <%= user_id %>
</p>

<p>
  <b>Code:</b>
  <%= code %>
</p>

<p>
  <b>State:</b>
  <%= state %>
</p>

<p>
  <b>Company:</b>
  <%= company_id %>
</p>

<p>
  <b>Expiration days:</b>
  <%= expiration_days %>
</p>

<a href="#/index">Back</a>