<p>
  <b>Value:</b>
  <%= value %>
</p>

<p>
  <b>User:</b>
  <%= user_id %>
</p>

<p>
  <b>Number,:</b>
  <%= number, %>
</p>

<p>
  <b>Code:</b>
  <%= code %>
</p>

<p>
  <b>String,:</b>
  <%= string, %>
</p>

<p>
  <b>State:</b>
  <%= state %>
</p>

<p>
  <b>String,:</b>
  <%= string, %>
</p>

<p>
  <b>Company:</b>
  <%= company_id %>
</p>

<p>
  <b>Number,:</b>
  <%= number, %>
</p>

<p>
  <b>Expiration days:</b>
  <%= expiration_days %>
</p>

<p>
  <b>Number:</b>
  <%= number %>
</p>


<a href="#/index">Back</a>